<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body background="/public/images/skatepark.jpg">
    <div>
    <nav class="navbar navbar-dark navbar-expand-md p-1 fixed-top" >
        <a class="navbar-brand text-warning"> BrokeNLeg</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                {{#if user}}
                  <li class="nav-item">
                    <a class="nav-link" href="/profile/{{user._id}}">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/create/{{user._id}}">Create a Spot</a>
                  </li>
                  <form method="POST" action="/user/signout">
                  <button class="btn text-warning">Sign Out</button>
                  </form>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/user/signin">Sign-in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/signup">Sign-up</a>
                </li>
                {{/if}}
            </ul>
                {{!-- <form class="form-inline my-2 my-lg-0 justify-content-end ml-auto">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> --}}
                
        </div>
    </nav>
</div>
    {{{body}}}
  </body>
</html>
