<h2> Your {{userDetails.username}} profile</h2>

<ul>
  <li><strong>Username:</strong> {{userDetails.username}}</li>
  <li><strong>Email:</strong> {{userDetails.email}}</li>
</ul>
{{!-- select the id and add it to my url, but also adding a path for the EDIT and DELETE route --}}
<a href="/celebrities/{{userDetails._id}}/edit" class="btn btn-outline-primary">Edit</a>
<a href="/celebrities/{{userDetails._id}}/delete" class="btn btn-outline-danger">Delete</a>
