</br></br></br></br>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text"> 
      <ul class="list-group">
  <li class="list-group-item">{{address}}</li>
  <li class="list-group-item">{{userId.username}}</li>
  <li class="list-group-item">{{city}}</li>
  <li class="list-group-item">{{description}}</li>
  <a class="nav-link" target="popup" href="https://www.google.pt/maps/@{{lat}},{{lng}},17.5z">Map</a>
</ul>
    </p>
  </div>
  <img src="/images/1369584839Skatepark-Ericeira-01-CALIDAD30.jpg" class="card-img-top" alt="...">
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>